<h3>How Healthy Is Your Favorite Restaurant?</h3>

<ul>
  <li>
    <%= link_to "Search by Grade / Rating", rating_search_path %> |
    <%= link_to "Search by Name", name_search_path %> |
    <%= link_to "Grade Statistics", statistics_path %>
  </li>
</ul>


