<div class="center hero-unit">
  <h1>Welcome to Resto-Health</h1>

  <p>
    Hungry? Figure out the health and sanitary conditions of your favorite New York City restaurants.
    Browse charts and graphs to understand the restaurant health grade breakdown across the five NYC boroughs
    Restaurants with a score between 0 and 13 points earn an A, those with 14 to 27 points receive a B and those with       28 or more a C.
  </p>
</div>
<p>
  <%= link_to 'Data provided by the Department of Health and Mental Hygiene (DOHMH)',
              'https://data.cityofnewyork.us/Health/Restaurant-Inspection-Results/4vkw-7nck' %>
</p>


