<html>
<title>Search by Name</title>

<h3>What restaurant are you looking for?</h3>
<%= form_tag restaurants_display_path, method: :get do %>
    <p>
      <%= text_field_tag :name, params[:name] %>
      <%= submit_tag "Search" %>
    </p>
<% end %>
</html>