<html>
<title>Search by Name</title>

<h3>What restaurant are you looking for?</h3>
<%= form_tag restaurants_display_path, method: :get do %>
    <p>
      <%= text_field_tag :name, params[:name] %>
      <%= submit_tag "Search", class: "btn btn-default btn-lg", data: { disable_with: "Please wait..." },
        onclick: 'mixpanel.track("Submitted search by restaurant name", { "name" : params[:name] });'%>
    </p>
<% end %>
</html>