<div>
  <h3>Restaurant Health Data and Statistics</h3>
</div>
<span class="glyphicon glyphicon-search"></span>

<div class="">
<h5>By grade</h5>
<%= pie_chart [["A", @ratings_map["A"]],
               ["B", @ratings_map["B"]],
               ["C", @ratings_map["C"]],
               ["Z", @ratings_map["Z"]]] %>

</div>