<footer class="footer">
  <small>
    Resto-Health
    developed by Sonya Chhabra
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.yelp.com/">Yelp</a></li>
    </ul>
  </nav>
</footer>