<!DOCTYPE html>
<html>
<head>
  <title>HealthRatingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Submitted March 23, 12:00 noon  -->

<!-- Placed outside of .container, will make it screen width, you can place inside .row -->
<div class="cycle">
  <h2 class="text-center">Easy panoramic headers: <small>drag mouse around on image</small></h2>
</div> <!-- /.cycle -->
<div class="container">
  <div class="row">

    <br><br><br><hr>
    <p>Cyclotron project:<a href="https://github.com/mahonnaise/cyclotron" target="_blank">https://github.com/mahonnaise/cyclotron</a></p>
    <p><small>Image by <a href="http://www.flickr.com/photos/smyph/" target="_blank">smyph.</a></small></p>
    <p><small>Cursor by <a href="https://www.iconfinder.com/icons/80532/finger_flick_gestureworks_one_icon" target="_blank">Gestureworks_one.</a></small></p>
    <hr>
    <p>
      <br>
      <a href="http://validator.w3.org/check?uri=http%3a%2f%2fbootsnipp.com%2fiframe%2f6pxr;ss=1"><span class="glyphicon glyphicon-check" style="color: #339900;"></span><small> HTML</small><sup>5</sup></a>
    </p>

  </div><!-- /.row -->
</div><!-- /.container -->
<%= yield %>

</body>
</html>
